#jquery-ui-slider {
    margin:2em auto;
    padding:1em;
    width: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    background: whitesmoke;
    text-align: center;
}

#jquery-ui-slider div div.jquery-ui-slider-title {
    width: 100px;
    text-align: right;
}

#jquery-ui-slider div div input {
    width: 40px;
    margin: 0;
    border: 0;
    color: red !important;
    background-color: transparent;
    text-align: center;
}

#jquery-ui-slider div div.float-left {
    float: left;
}

#jquery-ui-slider div div.float-clear {
    clear: both;
}

#jquery-ui-slider div.jquery-ui-slider-item {
    margin: 2px;
}

.jquery-ui-slider-multi {
    width: 300px;
    margin: 4px 10px;
}

#jquery-ui-slider button {
    margin: 5px;
    width: 300px;
}

body
{
    background:#fff;
    color:#333;
    text-align:center;
    font-size:11px;
    font-family: verdana,arial,sans-serif;
    color:#545454;
    padding:0;
    margin:0;
    border:0;
    line-height:1.4;
}

h1
{
    font-weight:lighter;
    font-family:georgia, times new roman, times, georgia, palatino, serif;
    text-align:center;
    margin-top:0.6em;
    color:#111;
    font-size:2em;
}